@page "/home"
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero">
</section>

<style>
    .hero {
        height: 90vh;
        width: 100%;
        background-color: #739d79;
        position: relative;
        background-image: url('images/catcoffeeshop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>