@page
@model CatCoffeePlatformRazorPages.Pages.AreaPages.EditModel

@{
    ViewData["Title"] = "Area Edit";
}

<div class="row">
    <h1 class="text-center">Edit</h1>
    <div class="col-md-4 mx-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Area.AreaId" />
            <div class="form-group">
                <label asp-for="Area.AreaName" class="control-label"></label>
                <input asp-for="Area.AreaName" class="form-control" />
                <span asp-validation-for="Area.AreaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area.Description" class="control-label"></label>
                <input asp-for="Area.Description" class="form-control" />
                <span asp-validation-for="Area.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area.PricePerHour" class="control-label"></label>
                <input asp-for="Area.PricePerHour" class="form-control" />
                <span asp-validation-for="Area.PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area.MaxSlots" class="control-label"></label>
                <input asp-for="Area.MaxSlots" class="form-control" />
                <span asp-validation-for="Area.MaxSlots" class="text-danger"></span>
            </div>
            <div class="form-group" style="align-items: center;">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-primary">Back</a>
            </div>            
        </form>
    </div>
</div>

<style>
    .row {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    .text-danger {
        color: red;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
