@page "/productpages/edit"
@model CatCoffeePlatformRazorPages.Pages.ProductPages.EditModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="row justify-content-center">
    <div class="card col-md-4 p-3">
        <h1 class="text-center">Edit</h1>
        <hr />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Product.Quantity" class="control-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Product.Unit" class="control-label"></label>
                <input asp-for="Product.Unit" class="form-control" />
                <span asp-validation-for="Product.Unit" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ShopId" value="@ViewData["shopId"]" />
            <input type="hidden" asp-for="ProductId" value="@ViewData["productId"]" />

            <div class="form-group my-3 d-flex justify-content-end">
                <input type="submit" value="Save" class="btn btn-primary me-3" />
                <a asp-page="/CoffeeShopPages/Details" asp-route-id="@ViewData["shopId"]" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
